/csvs
/FejlesztesiTerv.xlsx
/geckodriver.log
/RiseOfEmpirePlatoon.xlsx
/RoEPlatoon.xlsx
/units.txt
/units_correct.txt
/PlatoonDev_P1.xlsx
/PlatoonDev_P2.xlsx
/PlatoonDev_P3.xlsx
/PlatoonDev_P4.xlsx
/PlatoonDev_P5.xlsx
/PlatoonDev_P6.xlsx